<div class="container">
<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<% if @task.completed == true %>
<i class="far fa-check-square"> This task is completed</i>
<% else %>
<i class="far fa-square"> This task is not completed yet</i>
<% end %>
<hr>
<%= link_to 'Back to list', tasks_path, class:'btn btn-primary' %>
<%= link_to 'Edit this task', edit_task_path, class:'btn btn-primary' %>
</div>
